<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../node_modules/jfive-web-components/jfive-led.html">

<script>console.log("We loaded the thing");</script>

<dom-module id="pg-app">
  <template>
    <jfive-led on="true" pin="GPIO02"></jfive-led>
  </template>
  <script>
    class PGApp extends HTMLElement {
      constructor() {
        super();
        console.log('my-element was created!');
      }
    }

    // Register custom element class with browser
    customElements.define('my-element', MyElement);
  </script>
</dom-module>
